$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
.logo img {
    width: 300px;
    height: 300px;
    position: relative;
    right: -200px;
}
.glyphicon-trash{
    float: right;
}

.glyphicon{
    display: inline;
}
body{     
    background: rgba(161, 211, 236, 1.0000)
    // background-image: url(http://images4.fanpop.com/image/photos/24500000/Hot-Coffee-coffee-24525831-1024-768.jpg);
}

.header{
    color: 000;
}

.container{
    background-color: rgba(161, 211, 236, 0.7);
    border-radius: 15px;
    width: 80%;
}

.btn{
    color: 000;
}

header {
    color: 000;
}

.jumbotron{
    // border: 1px solid black;

}
.footer{
    margin: 0 auto;
    padding: 0px;
}

.itemsLeft{
    color: 000;
    font-size: 14px;
    font-weight: normal;
    // padding-top: 20px;
    margin-top: 5px;
    // border: 2px solid red;

}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  list-style-type: none;
  font-size: 30px;  
}

.checkItem {
    text-decoration: line-through;
    color: grey;
}

.nav-pills{
    width: 100%;
    margin: 0 auto;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */


    /* Make the masthead heading the same height as the navigation */


/* Custom page footer */


.container-narrow > hr {
    margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
}



